/* colors */
$primary-color: #ffe135; //yellow
$secondary-color: #704214; //Brown
$third-color: #9d6d3d; //light Brown
$fourth-color: #ffe762; //Light Yellow
$fifth-color: #552d05; //dark Brown

/* font-sizes */
$font-m: 25px;
$font-s: 15px;

/* espacios */
$padding-xs: 5px;
$padding-s: 10px;
$padding-m: 20px;
$padding-l:50px;

$radius-s: 5px;
$radius-m: 10px;

$gap-s: 10px;
$gap-m: 20px;
$gap-l: 50px;

$breakpoint-pc: 1024px;
 





